extends layout

block content
  .chat
    
    .chat-title
      h1 The Lads
      h2 Friends 4 ever !
      figure.avatar
        img(src='/img/profile2.png')
    
    .messages
      .messages-content
    
    .message-box
      textarea.message-input(type='text', placeholder='Type message ...')
      button.message-submit(type='submit') Send

  script.
    var name = !{JSON.stringify(name)};
  
  script(src='/js/jquery-3.2.1.min.js')
  script(src='/js/jquery.mCustomScrollbar.concat.min.js')
  script(src="/socket.io/socket.io.js")
  script(src='/js/main2.js')
