extends layout

block content
  
  form.login(method='post', action='/users/join')
    fieldset
      legend.legend Chatty-Chatty
      
      div.input
        input(name='name', type='text', placeholder='John', required)
        span: i.fa.fa-user
      
      button.submit(type='submit'): i.fa.fa-long-arrow-right
    
  script(src='/js/jquery-3.2.1.min.js')
