doctype html
html
  
  head
    title ChatIO
    
    // Third Party CSS
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/jquery.mCustomScrollbar.min.css')
      
    // Custom CSS
    link(rel='stylesheet', href='/css/chat.css')
    link(rel='stylesheet', href='/css/join.css')
      
    // Open Sans Google Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
      
  body
    block content
