doctype html
html
  
  head
    title ChatIO
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/jquery.mCustomScrollbar.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
      
  body
    block content
